* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 568px;
  height: 394.69px;
  margin-left: 125px;
  display: inline-block;
}

header {
  margin: 44px 76px 144px 76px;
}

.link-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989d9c;
  cursor: pointer;
  margin-right: 23px;
}

.button-header {
  width: 130px;
  height: 41px;
  border-radius: 50px;
  background: #665ae1;
  border: none;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

section {
  display: inline-block;
  margin-left: 86px;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
  width: 513px;
  height: 122px;
}

.segundo {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
  width: 448px;
  height: 71px;
}

p {
  width: 515px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #848484;
  margin-top: 32px;
  margin-bottom: 65px;
}

.button-main {
  background: #adff00;
  border-radius: 30.5px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  width: 239px;
  height: 64px;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    height: auto; 
    margin: 25% auto 0 auto;
    padding: 0 16px;
  }

  header {
    display: none;
  }

  p {
    display: none;
  }

  h1 {
    width: 263px;
    height: 52px;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    color: #515151;
    margin: auto;
  }

  .segundo {
    width: 232px;
    height: 37px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #515151;
    margin:0 auto;
    text-align: center;
  
  }

   .button-main {
    position: relative;
     display: block;
    margin: 20px auto 0 auto; 
    width: 80%;
     max-width: 239px;
    border-radius: 20.5px;
 background: #ADFF00;
  }

}