* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}
body {
  background-color: #8a51fc;
}
.logo-Gif {
  width: 300px;
  display: block;
  margin: 20px auto;
}
main {
  width: 375px;
  background: #f4f4f4;
  border-radius: 20px;
  margin: 0 auto 40px;
  padding: 44px 24px 23px;
}
label {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
}
select {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
  cursor: pointer;
}
input {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
  cursor: pointer;
}
.valor {
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}
button {
  background: #772fd3;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.6;
}
section {
  border: 1px solid #772fd3;
  border-radius: 20px;
  margin-top: 36px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seta-conversão {
  margin: 15px 0;
}
.moeda-conversão {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.moeda-nome {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.moeda-logo {
  font-weight: 700;
  font-size: 20px;
  color: #555555;
}
